services:

  libremdb:
    container_name: libremdb
    image: quay.io/pussthecatorg/libremdb:latest
    restart: unless-stopped
    ports:
      - "127.0.0.1:3000:3000" # Replace with "3000:3000" if you don't use a reverse proxy
    environment:
      - NEXT_TELEMETRY_DISABLED='1'
      - NEXT_PUBLIC_URL='http://localhost:3000'
      - AXIOS_USERAGENT='Mozilla/5.0 (X11; Linux x86_64; rv:108.0) Gecko/20100101 Firefox/108.0'
      - AXIOS_ACCEPT='text/html,application/xhtml+xml,application/xml;q=0.9,image/avif,image/webp,*/*;q=0.8'
      - AXIOS_LANGUAGE='en-US,en;q=0.5'
